fastapi==0.115.0
uvicorn[standard]==0.30.1

# Database + ORM
databases==0.9.0
sqlalchemy==2.0.36
asyncpg==0.29.0   # if using PostgreSQL
aiomysql==0.2.0   # if using MySQL (optional, pick one driver)

# Authentication & Security
python-jose[cryptography]==3.3.0
argon2-cffi
passlib
idna==3.7
email-validator==2.1.0.post1

# Pydantic schemas
pydantic==2.9.2
pydantic-settings==2.5.2

# Utilities
python-dotenv==1.0.1
psycopg2==2.9.9
python-multipart==0.0.22
pytz

